.DS_Store
.env.personal
.env.merged
.python-version
_dev*.py
*.csv
*.dat
*.json
!.docker/airflow_pools.json
!.docker/airflow_variables.json
*.log
*.pyc
**/.idea/**
**/logs/**
**/old/**
**/tmp/**
**/tmp*/**
**/venv/**
*scratch*
.coverage
airflow/dags/dbt/.env
airflow/dags/dbt/dbt_profiles/.user.yml
airflow/dags/dbt/dbt_models/dbt_packages
airflow/dags/dbt/dbt_models/logs
airflow/dags/dbt/dbt_models/target
airflow/dags/dbt/dbt_models/package-lock.yml
